<html>
<head>
	<title>Web Forms</title>

	<link rel="stylesheet" href="/portfolio/assets/css/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<script type="text/javascript" src="/portfolio/assets/scripts/throttle-debounce.js"></script>
	<script type="text/javascript" src="/portfolio/assets/scripts/validate.js"></script>
</head>
<body>
	<div class="layout">
		<div class="content">
			<h1>Web Forms</h1>

			<p>This page will probably always be a work in progress. It's not the only way to do things, but I mean for it to be a useful reference for myself on what I've learned. I hope it might be useful for others as well.</p>

			<p>There are a lot of common issues with web form design that can make a form inaccessible or exclusionary. Some things to consider include:</p>

			<ul>
				<li>If you're using colour to indicate something (e.g. status), make sure the status indicator is accessible not only to people using a screen reader but also to people with any form of colour blindness.</li>
				<li>Think about the information you are asking for. If you are limiting user input in <em>any way</em>, make sure you have a good reason for it. This includes any use of <code class="tag">select</code> elements, radio buttons, or checkboxes, as well as validation rules on text inputs.</li>
			</ul>
		</div>

		<section>
			<div class="content">
				<h2>Accessible design</h2>

				<p>It's important that disabled users are able to fill in your web forms. This means they have to be usable with screen readers, and navigable via the keyboard.</p>

				<p>By default, form elements such as <code class="tag">input</code>, <code class="tag">select</code>, and <code class="textarea">textarea</code> can receive focus via the keyboard.</p>

				<p>Wrapping inputs in an <code class="tag">ol</code> will allow screen readers to report the number of items in the list when a user enters the list.</p>

				<h3>Styling radio buttons and checkboxes</h3>

				<p>Because some common form elements cannot be styled heavily in CSS, it is common for other elements (which can be styled) to be used as proxies for them. When this is done, it should be done accessibly.</p>

				<p>These fake radio buttons and checkboxes rely on the presence of an <code class="tag">input</code> element that is not visible, but is still read out by screen readers and can receive focus via the <kbd>Tab</kbd> key.</p>

				<p>To achieve this, the following CSS rules are used on the <code class="tag">input</code>:</p>

				<pre class="code">position: absolute;
display: block;
width: 1px;
height: 1px;
opacity: 0;
pointer-events: none;</pre>

				<p>The visible element in this example is a <code class="tag">span</code> tag (though various other tags could be used instead), which can be styled much more freely. It uses the adjacent sibling selector to change its appearance based on the state of the semi-hidden <code class="tag">input</code> element, using the <code>:focus</code> and <code>:checked</code> pseudoclasses. For example:</p>

				<pre class="code">.fake-input__input[type="radio"]:checked + .fake-input__display::before {
	content: "✔"
}</pre>

				<p>Though the <code class="tag">input</code> element itself has <code>pointer-events: none;</code> on it, the whole group is wrapped in a <code class="tag">label</code> tag. This causes the click to be delegated to the <code class="tag">input</code> element, so it still behaves like a normal radio button or checkbox in this respect.</p>
			</div>

			<form>
				<fieldset class="form__section">
					<h3 class="form__section-heading">Styled radio buttons</h3>

					<ol class="form__section-list">
						<li class="form__section-item">
							<label class="fake-input">
								<input class="fake-input__input" type="radio" name="fake-radio" value="1" />
								<span class="fake-input__display"></span>
								<span class="fake-input__label">Fake radio button 1</span>
							</label>
						</li>

						<li class="form__section-item">
							<label class="fake-input">
								<input class="fake-input__input" type="radio" name="fake-radio" value="2" />
								<span class="fake-input__display"></span>
								<span class="fake-input__label">Fake radio button 2</span>
							</label>
						</li>
					</ol>
				</fieldset>

				<fieldset class="form__section">
					<h3 class="form__section-heading">Styled checkboxes</h3>

					<ol class="form__section-list">
						<li class="form__section-item">
							<label class="fake-input">
								<input class="fake-input__input" type="checkbox" name="fake-checkbox-1" value="1" />
								<span class="fake-input__display"></span>
								<span class="fake-input__label">Fake checkbox 1</span>
							</label>
						</li>

						<li class="form__section-item">
							<label class="fake-input">
								<input class="fake-input__input" type="checkbox" name="fake-checkbox-2" value="2" />
								<span class="fake-input__display"></span>
								<span class="fake-input__label">Fake checkbox 2</span>
							</label>
						</li>
					</ol>
				</fieldset>
			</form>
		</section>

		<section>
			<div class="content">
				<h2>Validation</h2>

				<p>Modern browsers support <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation" target="_blank">native form validation</a> that allows the browser to handle validation rules and reporting errors to the user. However, these error messages are not always reported to the user.</p>
			</div>

			<form class="js-validate-form">
				<fieldset class="form__section">
					<h3 class="form__section-heading">Required field</h3>

					<ol class="form__section-list">
						<li class="form__section-item">
							<label for="required-example" class="form__section-label">Required input</label>
							<input id="required-example" type="text" class="form__section-input" required />
						</li>
						<li class="form__section-item">
							<label for="required-example" class="form__section-label">Required input</label>
							<input id="required-example" type="text" class="form__section-input" required />
						</li>
					</ol>
				</fieldset>

				<div class="form__controls">
					<button type="submit" class="button">Submit</button>

					<p class="form__status js-validate-status" aria-live="polite"></p>
				</div>
			</form>

			<script type="text/javascript">
				validate('.js-validate-form');
			</script>
		</section>

		<section>
			<div class="content">
				<h2>Non-exclusionary design</h2>

				<p>It's common for web forms to be designed in a way that is unnecessarily exclusionary. This may be because it's been made impossible for someone to fill out a form without lying, or because the form requires them to provide personal information that shouldn't be necessary for the purpose of the form.</p>

				<p>For example, if a form requires users to fill in a "gender" field but only offers "male" and "female" as options, it is excluding nonbinary people. They can't fill in the form without lying.</p>

				<p>Requiring users to provide unnecessary information can be more generally exclusionary. For example, I have seen a web form that required my postal address in order to unsubscribe me from an email mailing list.</p>

				<p>As I've thought about this, I've come up with what I consider some fundamental principles of non-exclusionary web form design:</p>

				<ul>
					<li>Ask for the information you need.</li>
					<li>Don't make anyone lie to you.</li>
				</ul>

				<p>If you need information for a single purpose, being explicit about that purpose when you ask for it can help the user filling out the form understand how their information will be used.</p>

				<p>Here is an example:</p>
			</div>

			<form>
				<fieldset class="form__section">
					<h3 class="form__section-heading">How should we address you?</h3>
					<ol class="form__section-list">
						<li class="form__section-item">
							<label for="name" class="form__section-label">Please call me</label>
							<input type="text" name="name" id="name" class="form__section-input" />
						</li>
						<li class="form__section-item">
							<label for="gender" class="form__section-label">My gender is</label>
							<input type="text" name="gender" id="gender" class="form__section-input" />
						</li>
					</ol>
				</fieldset>
			</form>

			<div class="content">
				<h2>How to address someone</h2>

				<p>A common purpose of fields in a web form is knowing how to address someone. Often this means using their name to greet them when sending them an email, and it can also be useful to know which pronoun to use when referring to them in the third person.</p>

				<h3>Please call me ______</h3>

				<p>"What is your name?" might be a clearer question, but I think "How should we address you?" has the advantage of making it clear what this information is intended to be used for.</p>

				<p>Web forms often split name into multiple required fields. This almost always includes a first name, and often also includes a last name and a title.</p>

				<p>Though it's uncommon in most cultures, not everyone has two names. Also, referring to name parts as "first name" and "last name" centres cultures that present full names in this way, whereas other cultures present full names with a family name first and a personal name last.</p>

				<p>Requiring users to pick a title from a finite list can require them to provide more information than necessary. For example, forcing women filling in your form to choose between "Miss" or "Mrs", in cases where other titles such as "Dr" do not apply to them, is effectively asking them to disclose their martial status.</p>

				<p>Requiring users to choose a title can also require them to lie, if you have not provided any titles that would apply to them. Often, the only gender-neutral titles available in such a list are tied to qualifications, such as "Dr". This can leave nonbinary people without those qualifications with no option available that they can honestly say applies to them, but the form may not let them submit anything unless they choose one.</p>

				<p>Often, the only purpose a user's name and title is used for is in addressing the user in correspondence. Asking users a question that refers directly to the purpose for which the information is intended to be used gives them the opportunity to provide the required information in a way that works for them.</p>

				<p>This way, users that prefer to be addressed informally may simply provide a personal name, or a nickname. Those that prefer to be addressed more formally may provide a title and surname.</p>

				<h3>My gender is ______</h3>

				<p>Many web forms that ask for a user's gender don't need to ask for this question. If you don't need to know, you should not ask.</p>

				<p>If your reason for asking is that you need to know what pronouns to use to refer to a user, then consider asking them for that information instead.</p>

				<p>As with requiring users to specify a title, requiring users to pick from a finite list of genders often means nonbinary people cannot fill in your form without lying.</p>

				<p>If you do need to know a user's gender, make sure your form allows them to tell you what their gender is. If you're worried about inconsistent entries, try to find a solution that doesn't make it difficult for anyone to fill in your form honestly.</p>
			</div>
		</section>

		<div class="content">
			<h2>What can I do to improve this page?</h2>

			<p>These are topics I care about, but I am not an expert in them. A lot of the issues that can cause web forms to be inaccessible or exclusionary do not apply to me directly, so I'm sure I will be ignorant of some issues.</p>

			<p>If you think there's something I can do to improve this page, please <a href="/portfolio/contact/">let me know</a>!</p>
		</div>
	</div>
</body>
</html>