<!doctype html>
<html>
<head>
	<title>Throttle/Debounce Changelog</title>

	<link rel="stylesheet" href="/portfolio/assets/css/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
	<main class="layout">
		<div class="content">
			<h1>Throttle/Debounce Changelog</h1>

			<p>See <a href="../">Throttle/Debounce documentation</a> for full details of current version.</p>

			<p>When updating Throttle/Debounce, make sure you update all of the following:</p>
			<ul>
				<li>Version number in comment at the top of throttle-debounce.js</li>
				<li>Version number at the top of the documentation</li>
				<li>New changelog entry</li>
				<li>New tag in version control</li>
			</ul>

			<h2>Versions:</h2>

			<ul>
				<li>
					<a href="1.0">1.0 - Versioning</a>
				</li>
			</ul>
		</div>
	</main>
</body>

</html>