.content button,
.button {
	@include button-reset;

	display: inline-block;
	vertical-align: middle;

	padding: 5px 10px;
	border-radius: 5px;
	color: $grey--dark;
	text-decoration: none;
	line-height: 1.5;
	background: $grey--lightest;
	cursor: pointer;

	transition: 0.3s background;

	&:hover,
	&:focus {
		background: $grey--lighter;
	}
}
