.content button,
.button {
	@include button-reset;

	display: inline-block;

	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;
	line-height: 1.7;
	cursor: pointer;

	@include transition(0.3s background);
	@include contrast-clickable;
}
