input {
	@include contrast-primary;

	border: 1px solid var(--border);
	&::placeholder {
		color: var(--primary-color-low-contrast);
	}
}

.form__section {
	label[for] {
		cursor: pointer;
	}

	margin: 20px 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.form__section-heading {
	width: 100%;
	margin-top: 0;
	margin-bottom: 5px;
}

.form__section-list {
	@include list-reset;

	display: flex;
	flex-wrap: wrap;
}

.form__section-item {
	width: 100%;
	+ .form__section-item {
		margin-top: 10px;
	}

	display: flex;
	align-items: center;
}

.form__section-label {
	margin-right: 10px;
	width: 130px;
}

.form__section-input {
	padding: 5px;
	min-width: 250px;


	border: none;
	border-bottom: 1px solid var(--border);

	@include contrast-offset;
	&::placeholder {
		color: var(--offset-color-low-contrast);
	}
}

.form__section-input--full {
	width: 100%;
}

.form__controls {
	margin: 20px 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

// Validation
.form__status {
	display: none;
}

.is-validated {
	.form__section-input:invalid {
		background: var(--error-background);
	}
	.form__status {
		display: block;
	}
}

// Fake inputs
.fake-input {
	cursor: pointer;
}

.fake-input__input {
	position: absolute;
	display: block;
	width: 1px;
	height: 1px;
	opacity: 0;
	pointer-events: none;
}

.fake-input__display {
	display: inline-block;
	vertical-align: middle;
}

.fake-input__label {
	display: inline-block;
	vertical-align: middle;
}

.fake-input__input {
	+ .fake-input__display {
		width: 20px;
		height: 20px;

		line-height: 20px;
		text-align: center;

		border: 1px solid var(--border);

		&::before {
			content: "";
			font-size: 14px;
			line-height: 20px;
			width: 100%;
			height: 100%;
		}
	}
}
.fake-input__input:focus + .fake-input__display,
.fake-input__display:hover {
	@include focus-outline;
	background: var(--primary-background-active);
}
.fake-input__input {
	&:checked + .fake-input__display {
		&::before {
			content: "✓";
		}
	}

	&:invalid + .fake-input__display {
		border-color: var(--error-border);
	}

	&:disabled + .fake-input__display {
		cursor: default;
	}
	&:disabled ~ .fake-input__label {
		cursor: default;
	}
}

.fake-input__input[type="radio"] {
	+ .fake-input__display {
		border-radius: 20px;
	}

	&:focus + .fake-input__display {}

	&:checked + .fake-input__display {}
}

.fake-input__input[type="checkbox"] {
	+ .fake-input__display {}

	&:focus + .fake-input__display {}

	&:checked + .fake-input__display {}
}
