.modal {
	display: none;
	&[aria-hidden="false"],
	&:target {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: var(--overlay);
}

.modal--full {
	.modal__body {
		max-width: none;
		max-height: none;
		width: 100%;
		height: 100%;
	}
	background: $white;
}

.modal__body-open {
	// To be placed on the <body> tag when a modal is open

	// Uncomment this rule to prevent background scrolling
	// while a modal window is open:
	// overflow: hidden;
}
.modal__body-open--full {
	overflow: hidden;
}

.modal__body {
	position: relative;

	overflow: auto;

	width: 100%;
	height: 100%;
	padding: 40px;
	@include bp("m") {
		width: auto;
		max-width: 80%;
		height: auto;
		max-height: 80%;
		padding: 40px 20px 20px;
	}
	@include contrast-primary;
}

.modal__close {
	position: absolute;
	top: 5px;
	right: 5px;

	text-decoration: none;
	@include button-reset;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 44px;
	height: 44px;

	font-size: 15px;

	color: var(--clickable-background);
	&:hover,
	&:focus {
		color: var(--clickable-background-active);
	}

	&:before {
		content: "❌";
	}
}

.modal__dummy {
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
}
