<!doctype html>
<html>
<head>
	<title>Modal Changelog</title>

	<link rel="stylesheet" href="/portfolio/assets/css/main.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
	<main class="layout">
		<div class="content">
			<h1>Modal Changelog</h1>

			<p>See <a href="../">Modal documentation</a> for full details of current version.</p>

			<p>When updating Modal, make sure you update all of the following:</p>
			<ul>
				<li>Version number in comment at the top of modal.js</li>
				<li>Version number at the top of the documentation</li>
				<li>New changelog entry</li>
				<li>New tag in version control</li>
			</ul>

			<h2>Versions:</h2>

			<ul>
				<li>
					<a href="1.0">1.0 - Versioning</a>
				</li>
				<li>
					<a href="1.1">1.1 - Use flex instead of transform to centre modal body</a>
				</li>
			</ul>
		</div>
	</main>

	<script type="text/javascript" src="/portfolio/assets/js/dist/main.bundle.js"></script>
</body>

</html>