<html>
<head>
	<title>Throttle/Debounce</title>

	<link rel="stylesheet" href="/portfolio/assets/css/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<main class="layout">
		<div class="content">
			<h1>Throttle/Debounce 1.0</h1>

			<p><a href="changelog">Changelog</a></p>

			<p>These helper methods convert functions into throttled or debounced versions.</p>

			<h2>Throttle</h2>

			<p>A throttled function is called no more than once in a specified duration of time, regardless of how many times it is invoked. Try activating this button quickly to see how it works:</p>

			<button class="js-throttle">Activated 0 times</button>

			<p>A throttled function is created like this, where <code>delay</code> is a number of milliseconds:</p>

			<code class="code--block">let throttledFn = throttle(fn, delay);</code>

			<h2>Debounce</h2>

			<p>A debounced function is not called until a specified duration of time has elapsed since it was last invoked. Try activating this button quickly to see how it works:</p>

			<button class="js-debounce">Activated 0 times</button>

			<p>A debounced function is created similarly to a throttled function, with <code>delay</code> being a number of milliseconds:</p>

			<code class="code--block">let debouncedFn = debounce(fn, delay);</code>

			<p>Debounced functions are useful in cases such as retrieving autocomplete suggestions after a user has stopped typing, instead of calling the event on every keypress.</p>

			<p>It's important to be aware that debounced functions will be dissociated from any user input that caused them. This matters because browsers block some behaviour, such as opening new windows, unless it is directly associated with user input.</p>
		</div>
	</main>

	<script type="module">
		import { throttle, debounce } from '/portfolio/assets/scripts/throttle-debounce.js';
		import activate from '/portfolio/assets/scripts/activate.js';

		let $throttle = document.querySelectorAll('.js-throttle');
		let $debounce = document.querySelectorAll('.js-debounce');

		const callback = function (e) {
			let el = e.target;
			let activateNum = parseInt(el.textContent.match(/\d+/), 10);

			activateNum += 1;

			el.textContent = `Activated ${activateNum} times`;
		};

		activate($throttle, throttle(callback, 500));
		activate($debounce, debounce(callback, 500));
	</script>
</body>
</html>