$tooltip-wiggle-room: 18px;

.tooltip {
	&:focus {
		outline: none;
	}
}

.tooltip__trigger {
	position: relative;
	cursor: pointer;
	background-color: $green--pale;
}

@mixin tooltip-trigger {
	background-color: darken($green--pale, 10%);

	&:before {
		content: "";
		position: absolute;

		left: 0;
		right: 0;
		top: -($tooltip-wiggle-room);
		bottom: -($tooltip-wiggle-room);
	}
}

// Separate out :focus-within so browsers that don't recognise
// the pseudoclass won't also ignore the :hover and :focus rules
.tooltip__trigger:hover,
.tooltip:focus .tooltip__trigger {
	@include tooltip-trigger;
}
.tooltip:focus-within .tooltip__trigger {
	@include tooltip-trigger;
}

.tooltip__body {
	position: absolute;
	z-index: 1;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;

		left: -($tooltip-wiggle-room);
		right: -($tooltip-wiggle-room);
		top: -($tooltip-wiggle-room);
		bottom: -($tooltip-wiggle-room);
	}

	@include bp-below("m") {
		left: 10px;
		right: 10px;
		margin-top: 30px;
	}
	@include bp("m") {
		width: 400px;
		transform: translate(10px, -20px);
	}

	padding: 10px;
	margin: 10px 0; // Makes sure there's a gap before the top or bottom of page
	background: $white;
	border: 1px solid $grey;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba($black, 0.2);

	display: none;
}
.tooltip__body:hover,
.tooltip:focus .tooltip__body,
.tooltip:hover .tooltip__body {
	display: inline-block;
}
.tooltip:focus-within .tooltip__body {
	display: inline-block;
}

@media print {
	.tooltip__body {
		position: static;
		display: block !important;
		width: auto;

		margin-top: 25px;

		&:before,
		&:after {
			display: none;
		}
	}
}