<html>
<head>
	<title>Drag/Sort</title>

	<link rel="stylesheet" href="/portfolio/assets/css/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<script type="text/javascript" src="/portfolio/assets/scripts/lib/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div class="layout">
		<div class="content">
			<h1>Drag/Sort</h1>

			<p>Allows for a vertical list of items that can have their order changed via the <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API" target="_blank">HTML Drag and Drop API</a>.</p>

			<p>Assumes a vertical list in that <code>padding-top</code> and <code>padding-bottom</code> are used to preview the new placement of an item being dragged.</p>
		</div>

		<div class="demo">
			<ul class="draggable js-dragsort-list">
				<li class="js-dragsort-wrap">
					<div class="draggable__item js-dragsort-item" draggable="true">
						<div class="demo__draggable-item">
							Item #1
						</div>
					</div>
				</li>
				<li class="js-dragsort-wrap">
					<div class="draggable__item js-dragsort-item" draggable="true">
						<div class="demo__draggable-item">
							Item #2
						</div>
					</div>
				</li>
				<li class="js-dragsort-wrap">
					<div class="draggable__item js-dragsort-item" draggable="true">
						<div class="demo__draggable-item">
							Item #3
						</div>
					</div>
				</li>
				<li class="js-dragsort-wrap">
					<div class="draggable__item js-dragsort-item" draggable="true">
						<div class="demo__draggable-item">
							Item #4
						</div>
					</div>
				</li>
				<li class="js-dragsort-wrap">
					<div class="draggable__item js-dragsort-item" draggable="true">
						<div class="demo__draggable-item">
							Item #5
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<script type="module">
		import dragsort from '/portfolio/assets/scripts/dragsort.js';

		(function (dragsort) {
			dragsort.init();
		})(dragsort);
	</script>
</body>
</html>