$white: #fff;
$grey--lightest: #eee;
$grey--lighter: #ccc;
$grey--light: #999;
$grey: #666;
$grey--mid: #444;
$grey--dark: #333;
$black: #000;

$blue--pale: darken(#def, 10%);
$blue--dim: darken($blue--pale, 40%);

$green--pale: darken(#dfe, 10%);
$green--dim: darken($green--pale, 60%);

$red--pale: #fee;

$base-font-family: "Roboto Slab", "Times New Roman", Times, serif;
$heading-font-family: "Roboto", Arial, sans-serif;

@mixin light-mode {
	--primary-background: #{$white};
	--primary-background-active: #{darken($white, 5)};
	--primary-color: #{$grey--dark};
	--primary-color-low-contrast: #767676; // Brightest grey with sufficient contrast against $white

	--shadow: #{rgba($black, 0.4)};
	--overlay: #{rgba($black, 0.4)};

	--offset-background: #{$grey--lightest};
	--offset-color: var(--primary-color);
	--offset-color-low-contrast: #6c6c6c; // Brightest grey with sufficient contrast against $grey--lightest

	--border: #{$grey--light};

	--clickable-background: #{$grey--lightest};
	--clickable-background-active: #{darken($grey--lightest, 10)};
	--clickable-color: var(--primary-color);

	--highlight-background: #{$green--pale};
	--highlight-background-active: #{darken($green--pale, 10)};

	--highlight-bar: #{$blue--pale};
	--highlight-bar-active: #{darken($blue--pale, 10)};

	--error-background: #{$red--pale};
	--error-color: #e00;
	--error-border: #e00;

	--status-success: green;
	--status-error: #e00;
}

@mixin dark-mode {
	--primary-background: #{$grey--dark};
	--primary-background-active: #{lighten($grey--dark, 5)};
	--primary-color: #{$grey--lightest};
	--primary-color-low-contrast: #9b9b9b; // Darkest grey with sufficient contrast against $grey--dark;

	--shadow: #{rgba($white, 0.4)};
	--overlay: rgba(34, 34, 34, 0.7);

	--offset-background: #{$grey};
	--offset-color: var(--primary-color);
	--offset-color-low-contrast: #e4e4e4; // Darkest grey with sufficient contrast against $grey;

	--border: #{$grey--lighter};

	--clickable-background: #{$grey};
	--clickable-background-active: #{lighten($grey, 10)};
	--clickable-color: var(--primary-color);

	--highlight-background: #{$green--dim};
	--highlight-background-active: #{lighten($green--dim, 10)};

	--highlight-bar: #{$blue--dim};
	--highlight-bar-active: #{lighten($blue--dim, 10)};

	--error-background: #755;
	--error-color: red;
	--error-border: red;

	--status-success: green;
	--status-error: red;
}

:root {
	@include light-mode;

	@media (prefers-color-scheme: dark) {
		@include dark-mode;
	}
}

.light-mode {
	@include light-mode;
}

.dark-mode {
	@include dark-mode;
}



@mixin contrast($background, $color: null, $active: null) {
	background: $background;

	@if ($color) {
		color: $color;
	}

	@if ($active) {
		&:hover,
		&:focus {
			background: $active;
		}
		&:focus-within {
			background: $active;
		}
	}
}

@mixin contrast-primary {
	@include contrast(
		var(--primary-background),
		var(--primary-color)
	);
}

@mixin contrast-primary-active {
	@include contrast(
		var(--primary-background),
		var(--primary-color),
		var(--primary-background-active)
	);
}

@mixin contrast-offset {
	@include contrast(
		var(--offset-background),
		var(--offset-color)
	);
}

@mixin contrast-clickable {
	@include contrast(
		var(--clickable-background),
		var(--clickable-color),
		var(--clickable-background-active)
	);
}


$outline-default: #4d90fe;
@mixin focus-outline($color: $outline-default) {
	// Replicate Chrome's default focus style
	outline-color: $color;
	@if ($color == $outline-default) {
		@supports (outline-color: -webkit-focus-ring-color) {
			outline-color: -webkit-focus-ring-color;
		}
	}

	// IE11 and Edge don't support outline-style: auto
	outline-style: solid;
	outline-width: 2px;
	@supports(outline-style: auto) {
		outline-style: auto;
	}
}


@mixin transition($transition) {
	.allow-transitions & {
		transition: $transition;
	}
}


body,
.light-mode,
.dark-mode {
	@include contrast-primary;
}

.is-error {
	color: var(--error-color);
}
