<html>
<head>
	<title>Status</title>

	<link rel="stylesheet" href="/portfolio/assets/css/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div class="layout">
		<div class="content">
			<h1>Status</h1>

			<p>This can be used to show global success or error messages, relying on the presence of an element on the page that should be using <code>position: fixed;</code>. Default styles can be found in <a href="https://github.com/Cipscis/portfolio/blob/master/assets/scss/components/_status.scss" target="_blank">status.scss</a>.</p>

			<p>These default styles use a combination of <a href="/portfolio/reference/animations/">CSS animations</a> with <code>animation-fill-mode: forwards;</code> to show and hide the status message automatically.</p>

			<p>
				<button class="button js-status-example-success">Show success message</button>
				<button class="button js-status-example-error">Show error message</button>
			</p>

			<p>An element can also be specified to show a non-global success or error message:</p>
		</div>

		<div class="panel">
			<p>
				<button class="button js-status-example-custom">Show success message on custom element</button>
			</p>

			<span class="status status--static js-status-custom" aria-live="polite"></span>
		</div>

		<div class="content">
			<p>Status message can be invoked either via the <code>success</code> or <code>error</code> methods on the <code>statusMessage</code> function, or by <a href="/portfolio/components/pubsub">publishing</a> the <code>/status/success</code> or <code>/status/error</code> events.</p>
		</div>
	</div>

	<span class="status js-status" aria-live="polite"></span>

	<script type="module">
		import statusMessage from '/portfolio/assets/scripts/status.js';
		import { activate } from '/portfolio/assets/scripts/activate.js';

		(function (statusMessage) {

			activate('.js-status-example-success', () => statusMessage.success('Success :)'));
			activate('.js-status-example-error', () => statusMessage.error('Error :('));
			activate('.js-status-example-custom', () => statusMessage.success('Custom success :)', '.js-status-custom'));

		})(statusMessage);
	</script>
</body>

</html>