<html>
<head>
	<title>Assist</title>

	<link rel="stylesheet" href="/portfolio/assets/css/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div class="layout">
		<div class="content">
			<h1>Assist</h1><p>Functions for working with assistive technologies.</p>

			<h2>Speak</h2>

			<p>A function that causes a screen reader to read a message.</p>

			<pre>assist.speak('4 Results');</pre>

			<input class="js-message" type="text "/>
			<button class="button js-read-message">Read the message</button>

			<p>For testing, you can try the free screen reader <a href="https://www.nvaccess.org/download/" target="_blank">NVDA</a>.</p>

			<p>This component requires a <code>u-visuallyhidden</code> class that hides an element while leaving it accessible to screen readers. For example:</p>

			<pre class="code code--block">.u-visuallyhidden {
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
}</pre>

			<p>The message is read via the <code>aria-live="assertive"</code> attribute, which means it will interrupt anything currently being read by a screen reader.</p>

			<p>If a special message should be read when an element receives focus, consider using the <code><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-label_attribute" target="_blank">aria-label</a></code> or <code><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-labelledby_attribute" target="_blank">aria-labelledby</a></code> attribute instead.</p>
		</div>
	</div>

	<script type="module">
		import assist from '/portfolio/assets/scripts/assist.js';
		import activate from '/portfolio/assets/scripts/activate.js';

		(function (assist, activate) {
			activate('.js-read-message', () => {
				var $message = document.querySelectorAll('.js-message')[0];
				var message = $message.value;

				assist.speak(message);
			});
		})(assist, activate);
	</script>
</body>
</html>